<table class="main" data-types="background,padding" data-last-type="padding" style="border-spacing: 0px; border-collapse: collapse; text-size-adjust: 100%;; overflow: hidden;" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td class="element-content" style="background-color: rgb(255, 255, 255); border-collapse: collapse; text-size-adjust: 100%;" align="left">
                 <style type="text/css">
                @page { margin:0; size:A4; }
                body:not(.force-body-builder){
                  font-family: 'Rubik', sans-serif;
                }
                body{
                  margin:-10px;
                  padding:0;
                  height: 29.7cm;
                  margin:auto;
                  background-color: gray;
                }

                @font-face {
                  font-family: 'Rubik';
                  src: url(/fonts/rubik/Rubik-Light.ttf);
                  font-weight: 300;
                }


                @font-face {
                  font-family: 'Rubik';
                  src: url(/fonts/rubik/Rubik-Regular.ttf);
                  font-weight: 400;
                }

                @font-face {
                  font-family: 'Rubik';
                  src: url(/fonts/rubik/Rubik-Medium.ttf);
                  font-weight: 500;
                }

                @font-face {
                  font-family: 'Rubik';
                  src: url(/fonts/rubik/Rubik-Bold.ttf);
                  font-weight: 700;
                }

                @font-face {
                  font-family: 'Rubik';
                  src: url(/fonts/rubik/Rubik-Black.ttf);
                  font-weight: 900;
                }

                @font-face {
                  font-family: ProximaNova;
                  src: url('fonts/proxima-nova-58f4b5b9b407b.otf');
                }

                .wrapper2{
                  position: relative;
                  overflow: hidden;
                  height: 29.7cm;
                }

                .container{
                  background-color: #ffffff;
                  height: 100%;
                }

                .intro-content2{
                  height: 100%;
                }

                .intro-logo2{
                  background-image: url(https://storage.googleapis.com/learn1thing/img/brand-logo.png);
                  background-size: 100%;
                  height: 60px;
                  width: 150px;
                  margin: 20px 25px;
                  position: absolute;
                  right: 0;
                }

                .intro-content2 header{
                  display: block;
                  height: 105px;
                  background-color: #ffffff;
                }

                .banner2{
                  height: 345px;
                  width: 100%;
                  background-color: #000000;
                  position: relative;
                  background-image: url(https://storage.googleapis.com/learn1thing/img/l1t-cover.png);
                  background-position: top center;
                }

                .banner-overlay2{
                  background-color: rgba(0,0,0,0.3);
                  position:absolute;
                  height: 100%;
                  width: 100%;
                }

                .intro-title2{
                  height: 450px;
                  position: absolute;
                  width: 640px;
                  top: 0;
                  overflow: hidden;
                }

                .shape-2-container2{
                  height: 345px;
                  position: absolute;
                  width: 100%;
                  top: 0;
                  overflow: hidden;
                  right: -24px;
                }

                .shape-3-container2{
                  height: 195px;
                  position: absolute;
                  width: 100%;
                  top: 0;
                  overflow: hidden;
                  right: 0px;
                }

                .shape-12 {
                  border-right: 28px solid #e1bf13;
                  width: 1290px;
                  height: 2400px;
                  position: absolute;
                  background-color: #ffffff;
                  -ms-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  top: -927px;
                  right: 565px;
                  transform: rotate(45deg);
                }

                .shape-22 {
                  border-right: 28px solid #001e61;
                  width: 750px;
                  height: 1890px;
                  position: absolute;
                  background-color: #ffffff;
                  -ms-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  top: -560px;
                  right: 640px;
                  transform: rotate(45deg);
                }

                .shape-32 {
                  width: 750px;
                  height: 1890px;
                  position: absolute;
                  background-color: #001e61;
                  -ms-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  top: -560px;
                  right: 640px;
                  transform: rotate(45deg);
                }

                .title-container2{
                  background-color: #001e61;
                  color: #ffffff;
                  position: absolute;
                  font-weight: 300;
                  font-size: 1.91em;
                  display: inline-block;
                  padding-top: 90px;
                  padding-left: 50px;
                }

                .article-intro2{
                  font-size: 1.41em;
                  padding: 30px 70px;
                }

                footer{
                  position: absolute;
                  bottom: 0;
                  background-color: #001e61;
                  height: 115px;
                  width: 100%;
                }

                footer .intro-title2{
                  bottom: 0;
                  top: initial;
                  left: 0px;
                  min-height: auto;
                  height: 145px;
                  width: 320px
                }

                .l1t-logo-container2{
                  height: 90px;
                  position: absolute;
                  overflow: hidden;
                  top: 55px;
                  width: 223px;
                }

                .l1t-logo-container2 .shape-12{
                  border-right: 40px solid transparent;
                  background-color: #2e2e2e;
                }

                .l1t-logo2{
                  background-image: url(https://storage.googleapis.com/learn1thing/img/l1t-logo.png);
                  height: 88px;
                  position: absolute;
                  width: 128px;
                  background-size: 105px;
                  background-position: center center;
                  background-repeat: no-repeat;
                }

                .footer-content2{
                  color: #ffffff;
                  text-align: right;
                  width: 60%;
                  padding-right: 30px;
                  padding-top: 37px;
                  position: absolute;
                  font-size: 0.5em;
                  font-weight: 300;
                  right: 0;
                }

                .bold2 {
                  font-weight: 700;
                }

                footer .contacts2{
                  font-size: 1.5em;
                  font-weight: 400;
                  margin-top: 11px;
                }

                footer .contacts2 > span{
                  margin-left: 20px;
                }

                footer .contacts2 > span .icon2 img{
                  width: 20px;
                  vertical-align: middle;
                  margin-right: 5px;
                }
              </style>

              <div class="container">
                <div class="wrapper2">
                  <div class="intro-content2">
                    <header>
                      <!--div class="intro-logo2">
                      </div-->
                    </header>
                    <div class="banner2">
                      <div class="banner-overlay2">
                      </div>
                    </div>
                    <div class="intro-title2">
                      <div class="shape-12"></div>
                      <div class="shape-2-container2">
                        <div class="shape-22"></div>
                      </div>
                      <div class="shape-3-container2">
                        <div class="shape-32"></div>
                      </div>
                      <div class="title-container2">
                        [survey-title]
                      </div>
                    </div>
                    <article class="article-intro2">
                      <p style="text-size-adjust: 100%;">[survey-description]</p>
                    </article>
                    <footer>
                      <div class="intro-title2">
                        <div class="shape-12">
                        </div>
                        <div class="l1t-logo-container2">
                          <div class="shape-12">
                          </div>
                          <div class="l1t-logo2">
                          </div>
                        </div>
                      </div>
                      <div class="footer-content2">
                        <p style="text-size-adjust: 100%;"><span class="bold2">learn1thing.com</span> is the E-commerce store dedicated to give a wholesome &amp; engaging learning experience. <br>The various learning tools, provide an ideal opportunity for those who seek to future-proof themselves.</p>

                        <div class="contacts2">
                          <span><span class="icon2"><img src="https://storage.googleapis.com/learn1thing/img/document-icon.png"></span>beta.learn1thing.com</span><span><span class="icon2"><img src="https://storage.googleapis.com/learn1thing/img/phone-icon.png"></span>+65 63238022</span>
                        </div>
                      </div>
                    </footer>
                  </div>
                </div>
              </div>
            </td>
        </tr>
    </tbody>
</table>
