<table class="main" data-types="background,padding" data-last-type="padding" style="border-spacing: 0px; border-collapse: collapse; text-size-adjust: 100%; overflow: hidden;" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td class="element-content" style="background-color: rgb(255, 255, 255); border-collapse: collapse; text-size-adjust: 100%;" align="center">[johari-question]</td>
    </tr>
  </tbody>
</table>