<table class="main" data-types="background,padding" data-last-type="padding" style="border-spacing: 0px; border-collapse: collapse; text-size-adjust: 100%; overflow: hidden;" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td class="element-content" style="background-color: rgb(255, 255, 255); border-collapse: collapse; text-size-adjust: 100%;" align="left">
                <style type="text/css">
                  @page { margin:0; size:A4; }
                  body:not(.force-body-builder){
                    font-family: 'Rubik', sans-serif;
                  }
                  body{
                    margin:-10px;
                    padding:0;
                    height: 29.7cm;
                    margin:auto;
                    background-color: gray;
                  }

                  @font-face {
                    font-family: 'Rubik';
                    src: url(/fonts/rubik/Rubik-Light.ttf);
                    font-weight: 300;
                  }


                  @font-face {
                    font-family: 'Rubik';
                    src: url(/fonts/rubik/Rubik-Regular.ttf);
                    font-weight: 400;
                  }

                  @font-face {
                    font-family: 'Rubik';
                    src: url(/fonts/rubik/Rubik-Medium.ttf);
                    font-weight: 500;
                  }

                  @font-face {
                    font-family: 'Rubik';
                    src: url(/fonts/rubik/Rubik-Bold.ttf);
                    font-weight: 700;
                  }

                  @font-face {
                    font-family: 'Rubik';
                    src: url(/fonts/rubik/Rubik-Black.ttf);
                    font-weight: 900;
                  }

                  @font-face {
                    font-family: ProximaNova;
                    src: url('fonts/proxima-nova-58f4b5b9b407b.otf');
                  }

                  .wrapper{
                    position: relative;
                    overflow: hidden;
                    height: 29.7cm;
                  }

                  .container{
                    background-color: #ffffff;
                    height: 100%;
                  }

                  .intro-content{
                    height: 100%;
                  }

                  .observers-content{
                    height: 1650px;
                  }

                  .intro-logo{
                    background-image: url(https://storage.googleapis.com/learn1thing/img/brand-logo.png);
                    background-size: 100%;
                    height: 100px;
                    width: 240px;
                    margin: 25px 35px;
                    position: absolute;
                    right: 0;
                  }

                  .observers-logo{
                    background-image: url(https://storage.googleapis.com/learn1thing/img/brand-logo-white.png);
                    background-size: 100%;
                    height: 58px;
                    width: 138px;
                    margin: 22px 20px;
                    position: absolute;
                    left: 0;
                  }

                  .intro-content header{
                    display: block;
                    height: 165px;
                  }

                  .observers-content header{
                    display: block;
                    height: 175px;
                  }

                  .observers-content header img{
                    width: 100%;
                    height: 235px;
                  }

                  .banner-overlay{
                    background-color: #000000;
                    opacity: 0.3;
                    position:absolute;
                    height: 100%;
                    width: 100%;
                  }

                  .intro-title{
                    height: 450px;
                    position: absolute;
                    width: 640px;
                    top: 0;
                    overflow: hidden;
                  }

                  .shape-2-container{
                    height: 345px;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    overflow: hidden;
                    right: -24px;
                  }

                  .shape-3-container{
                    height: 195px;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    overflow: hidden;
                    right: 0px;
                  }

                  .shape-1 {
                    border-right: 28px solid #e1bf13;
                    width: 1290px;
                    height: 2400px;
                    position: absolute;
                    background-color: #ffffff;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    top: -927px;
                    right: 565px;
                    transform: rotate(45deg);
                  }

                  .shape-2 {
                    border-right: 28px solid #001e61;
                    width: 750px;
                    height: 1890px;
                    position: absolute;
                    background-color: #ffffff;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    top: -560px;
                    right: 640px;
                    transform: rotate(45deg);
                  }

                  .shape-3 {
                    width: 750px;
                    height: 1890px;
                    position: absolute;
                    background-color: #001e61;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    top: -560px;
                    right: 640px;
                    transform: rotate(45deg);
                  }

                  .title-container{
                    background-color: #001e61;
                    color: #ffffff;
                    position: relative;
                    font-weight: 400;
                    font-size: 47px;
                    display: inline-block;
                    padding:8% 0;
                    width: 37%;
                    padding-left: 50px;
                  }

                  article.article-observers{
                    font-size: 1.1em;
                    padding: 20px 70px 20px 90px;
                    color: #202020;
                  }

                  article.article-observers p{
                    line-height: 1.35em;
                  }

                  footer{
                    position: absolute;
                    bottom: 0;
                    background-color: #001e61;
                    height: 115px;
                    width: 100%;
                  }

                  footer .intro-title{
                    bottom: 0;
                    top: initial;
                    left: 0px;
                    min-height: auto;
                    height: 145px;
                    width: 320px
                  }

                  .l1t-logo-container{
                    height: 90px;
                    position: absolute;
                    overflow: hidden;
                    top: 55px;
                    width: 223px;
                  }

                  .l1t-logo-container .shape-1{
                    border-right: 40px solid transparent;
                    background-color: #2e2e2e;
                  }

                  .l1t-logo{
                    background-image: url(https://storage.googleapis.com/learn1thing/img/l1t-logo.png);
                    height: 88px;
                    position: absolute;
                    width: 128px;
                    background-size: 105px;
                    background-position: center center;
                    background-repeat: no-repeat;
                  }

                  .l1t-logo.l1t-logo-small{
                    background-size: 80px;
                  }

                  .footer-content{
                    color: #ffffff;
                    text-align: right;
                    width: 60%;
                    padding-right: 30px;
                    padding-top: 37px;
                    position: absolute;
                    font-size: 0.5em;
                    font-weight: 300;
                    right: 0;
                  }

                  .bold {
                    font-weight: 700;
                  }

                  footer .contacts{
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-top: 11px;
                  }

                  footer .contacts > span{
                    margin-left: 20px;
                  }

                  footer .contacts > span .icon img{
                    width: 20px;
                    vertical-align: middle;
                    margin-right: 5px;
                  }

                  .title.title-observers{
                    font-size: 2.5em;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                    color: #001e5f;
                    font-family: ProximaNova;
                    margin-bottom:20px;
                  }

                  .post-image-observers{
                    /*text-align: right;*/
                  }

                  .post-image-observers img{
                    width: 300px;
                    /*padding-right: 70px;*/
                    display: inline;
                  }

                  .post-image-observers div{
                      display: inline-block;
                      vertical-align: top;
                      font-size: 24px;
                      width: calc( (100% - 300px - 180px)/2 );
                  }

                  .post-image-observers div:first-of-type{
                      padding-left: 90px;
                      float: left;
                      text-align: left;
                  }

                  .post-image-observers div:last-of-type{
                      padding-right: 90px;
                      float: right;
                      text-align: left;
                  }

                  @media screen and (min-width: 1260px) {
                    .title-container{
                      width: auto;
                      padding: 135px 0;
                      padding-left: 50px;
                    }
                  }

                </style>
                <div class="container">
                  <div class="wrapper">
                    <div class="observers-content">
                      <header>
                        <div class="observers-logo">
                        </div>
                        <img src="https://storage.googleapis.com/learn1thing/img/banner.png">
                      </header>
                      <div class="title title-observers">
                        Observers
                      </div>
                      <div class="post-image-observers">
                        <div style="">[observers]</div>
                        <img src="https://storage.googleapis.com/learn1thing/img/observers.png">
                        <div style="display:none">[observers-2]</div>
                      </div>
                      <article class="article-observers">
                        <p style="text-size-adjust: 100%;">A 360&deg; feedback is where you get inputs from your manager, peers, direct report and/or any other people who are familiar with your work behaviour. This instrument can be used for you to gain insights on your strengths and weaknesses on various competencies, enhancing personal development, self-awareness, and performance.</p>

                        <p style="text-size-adjust: 100%;">On completion of the profiler, you will receive a report in the form of a Johari Window which will help you assess your visible strengths and areas of improvement when dealing and resolving conflicts. The Johari Window is a simple 2 x 2 matrix that compares your perception about how you deal with conflicts against how others see you, thus enhancing your self-awareness and understanding your gaps.</p>

                      </article>
                      <footer>
                        <div class="intro-title">
                          <div class="shape-1">
                          </div>
                          <div class="l1t-logo-container">
                            <div class="shape-1">
                            </div>
                            <div class="l1t-logo l1t-logo-small">
                            </div>
                          </div>
                        </div>
                        <div class="footer-content">
                          <p style="text-size-adjust: 100%;"><span class="bold">learn1thing.com</span> is the E-commerce store dedicated to give a wholesome &amp; engaging learning experience. <br>The various learning tools, provide an ideal opportunity for those who seek to future-proof themselves.</p>

                          <div class="contacts">
                            <span><span class="icon"><img src="https://storage.googleapis.com/learn1thing/img/document-icon.png"></span>beta.learn1thing.com</span><span><span class="icon"><img src="https://storage.googleapis.com/learn1thing/img/phone-icon.png"></span>+65 63238022</span>
                          </div>
                        </div>
                      </footer>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
