
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo {
        padding: 0;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo > .img-logo.logo-lg {
        display: none;
    }

    .sidebar-mini .main-header .logo > .img-logo.logo-lg {
        display: inline-block;
        height: calc( 100% - 4px );
        margin-top: -4px;
        padding: 0;
        border: none;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo > .img-logo.logo-mini {
        display: inline-block;
        height: calc( 100% - 4px );
        margin: -4px 0 0 0;
        padding: 0;
        border: none;
    }
}

.skin-blue .main-header .logo-custom, .skin-blue .main-header .logo-custom:hover {
    background-color: #fff;
}

.question-type-arabic {
    list-style-type: decimal;
}

.question-type-alphabet {
    list-style-type: upper-alpha;
}

.question-type-roman {
    list-style-type: upper-roman;
}

.bootstrap-timepicker-widget table td input {
    width: 45px;
}

.form-group > textarea {
    resize: none;
}

.main-header .logo .logo-lg {
    display: inline-block;
}

.question.callout {
    border: none;
    border-top: 5px solid #eee;
}

.checkbox {
    margin-top: 0;
}

.sections > .panel.box, .question-list-sections > .panel.box {
    box-shadow: none;
}

.radio-inline:first-of-type, .checkbox-inline:first-of-type {
    padding-left: 0;
}

.sections > .panel.box.box-primary.section, .observer-sections > .panel.box.box-primary {
    padding-top: 20px;
}

.question-list-sections > .panel.box:first-of-type {
    padding-top: 0;
}

.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background: url(../image/loading.gif);
    background-size: 100%;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .2);
    z-index: -1;
}

.skin-blue .main-header li.user-header {
    background-color: #035AA4 !important;
}