@page { margin:0; size:A4; }
body{
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    height: 29.7cm;
    width: 21cm;
    margin:auto;
    background-color: gray;
    /*padding-top: 10px;*/
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Light.ttf');
    font-weight: 300;
}


@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: ProximaNova;
    src: url('../fonts/proxima-nova-58f4b5b9b407b.otf');
}

.wrapper{
    position: relative;
    overflow: hidden;
    height: 29.7cm;
}

.container{
    background-color: #ffffff;
    height: 100%;
    border-bottom: solid 1px;
    /*margin-bottom: 10px;*/
}

.triangle{
    position: absolute;
    overflow: hidden;
}

.triangle > div {
    position: absolute;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.triangle-1{
    height: 505px;
    width: 505px;
}

.triangle-1 .coloured-shape{
    background-color: #ffffff;
    top: -70%;
    left: -70%;
    height: 140%;
    width: 140%;
}

.triangle-2{
    padding-top: 100%;
    width: 100%;
}

.triangle-2 .coloured-shape{
    background-color: #001e61;
    top: 31%;
    left: -75.1%;
    height: 150%;
    width: 150%;
}

.cover-content{
    background-image: url('../img/l1t-cover.png');
    background-size: cover;
    background-position: top center;
    height: 100%;
}

.gradient-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.cover-content .content{
    position: relative;
    padding: 45px 40px;
    z-index:1;
}

.brand-logo{
    background-image: url('../img/brand-logo.png');
    background-size: 100%;
    height: 80px;
    width: 180px;
    margin-left: 20px;
}

.author{
    display: block;
    font-weight: 700;
}

.slogan{
    margin-top:10px;
    margin-bottom: 80px;
}

.slogan .second{
    color: #132660;
    font-family: ProximaNova;
    font-style: italic;
    font-size: 0.83em;
}

.slogan .first{
    font-size: 1em;
    color: #363636;
    margin-bottom: 3px;
    font-weight: 500;
}

.date-cover{
    height: 130px;
    width: 130px;
    position: absolute;
    text-align: center;
    display: table;
    left: 200px;
    color: #363636;
    font-size: 1.2em;
    top: 355px;
}

.date-cover .rotated-box-1{
    width: 100%;
    height: 100%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background: #ffffff;
    position: absolute;
}

.date-cover .rotated-box-2{
    width: 50%;
    height: 100%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background: #001e61;
    position: absolute;
    top: -53%;
    left: -28%;
}

.date-cover .rotated-box-3{
    width: 100%;
    height: 50%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #ffffff;
    position: absolute;
    bottom: -28%;
    left: -53%;
    background-image: url('../img/shadow.png');
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.date-content{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
}

.date-cover .month{
    display: block;
    margin: 6px 0;
    font-weight: bold;
}

.prepared{
    font-size: 0.74em;
    font-weight: 400;

}

.cover-badge{
    color: #ffffff;
    background-color: #e1bf13;
    left: 0;
    position: absolute;
    padding-left:25px;
    height: 136px;
    margin-bottom: 50px;
    z-index: 1;
    font-weight: 300;
    top:585px;
}

.cover-badge h1{
    /*padding: 40px 0;*/
    padding: 30px 0;
    font-weight: 500;
    font-size: 1.48em;
}

.cover-badge header{
    font-weight: 500;
    margin-bottom: 5px;
}

.cover-badge::before{
    content: "";
    height: 0;
    position: absolute;
    right: -136px;
    width: 0;
    top: -136px;
    border-right: 136px solid transparent;
    border-top: 136.6px solid transparent;
    border-left: 136px solid transparent;
    border-bottom: 136px solid #e1bf13;
    z-index: -1;
}

.cover-badge::after{
    content: "";
    height: 0;
    position: absolute;
    right: -136px;
    background-color: transparent;
    width: 0;
    bottom: -42px;
    border-right: 21px solid transparent;
    border-top: 21px solid #8e7904;
    border-left: 21px solid #001e61;
    border-bottom: 21px solid #001e61;
}

.cover-badge.cb-1{
    width: 262px;
}

.cover-badge.cb-2{
    padding: 20px 25px;
    height: 96px;
    font-size: 0.9em;
    width: 409px;
    margin-top: 172px;
}


/* Intro */
.intro-content{
    height: 100%;
}

.intro-logo{
    background-image: url('../img/brand-logo.png');
    background-size: 100%;
    height: 60px;
    width: 150px;
    margin: 20px 25px;
    position: absolute;
    right: 0;
}

.intro-content header{
    display: block;
    height: 105px;
    background-color: #ffffff;
}

.banner{
    height: 345px;
    width: 100%;
    background-color: #000000;
    position: relative;
    background-image: url('../img/l1t-cover.png');
    background-position: top center;
}

.banner-overlay{
    background-color: rgba(0,0,0,0.3);
    position:absolute;
    height: 100%;
    width: 100%;
}

.intro-title{
    height: 450px;
    position: absolute;
    width: 640px;
    top: 0;
    overflow: hidden;
}

.shape-2-container{
    height: 345px;
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    right: -24px;
}

.shape-3-container{
    height: 195px;
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    right: 0px;
}

.shape-1 {
    border-right: 28px solid #e1bf13;
    width: 1290px;
    height: 2400px;
    position: absolute;
    background-color: #ffffff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -927px;
    right: 565px;
    transform: rotate(45deg);
}

.shape-2 {
    border-right: 28px solid #001e61;
    width: 750px;
    height: 1890px;
    position: absolute;
    background-color: #ffffff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -560px;
    right: 640px;
    transform: rotate(45deg);
}

.shape-3 {
    width: 750px;
    height: 1890px;
    position: absolute;
    background-color: #001e61;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -560px;
    right: 640px;
    transform: rotate(45deg);
}

.title-container{
    width: 290px;
    background-color: #001e61;
    color: #ffffff;
    position: absolute;
    font-weight: 300;
    font-size: 1.91em;
    display: inline-block;
    padding-top: 90px;
    padding-left: 50px;
}

.article-intro{
    font-size: 1.41em;
    padding: 30px 70px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #001e61;
    height: 115px;
    width: 100%;
}

footer .intro-title{
    bottom: 0;
    top: initial;
    left: 0px;
    min-height: auto;
    height: 145px;
    width: 320px
}

.l1t-logo-container{
    height: 90px;
    position: absolute;
    overflow: hidden;
    top: 55px;
    width: 223px;
}

.l1t-logo-container .shape-1{
    border-right: 40px solid transparent;
    background-color: #2e2e2e;
}

.l1t-logo{
    background-image: url('../img/l1t-logo.png');
    height: 88px;
    position: absolute;
    width: 128px;
    background-size: 105px;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-content{
    color: #ffffff;
    text-align: right;
    width: 60%;
    padding-right: 30px;
    padding-top: 37px;
    position: absolute;
    font-size: 0.5em;
    font-weight: 300;
    right: 0;
}

.bold {
    font-weight: 700;
}

footer .contacts{
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 11px;
}

footer .contacts > span{
    margin-left: 20px;
}

footer .contacts > span .icon img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Observers */
.observers-content header{
    display: block;
    height: 175px;
}

.observers-content header img{
    width: 100%;
    height: 235px;
}

article.article-observers{
    font-size: 1.1em;
    padding: 20px 70px 20px 90px;
    color: #202020;
}

article.article-observers p{
    line-height: 1.35em;
}

.title.title-observers{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #001e5f;
    font-family: ProximaNova;
    margin-bottom:20px;
}

.post-image{
    text-align: center;
}

.post-image img{
    width: 570px;
}

@media screen and (min-width: 1260px) {
    .title-container {
        /*width: auto;*/
        /*padding: 135px 0;*/
        padding-left: 50px;
    }
}

/* Johari */
article.article-johari{
    padding: 50px 30px;
    color: #001e61;
    font-size: 0.95em;
}

article.article-johari .h3{
    font-weight: 500;
    font-size: 1.2em;
    display: block;
}

article.article-johari p{
    margin-bottom: 30px;
    margin-top:0;
}

.title.title-johari{
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #001e5f;
    margin-bottom:65px;
}

.subtitle.title-johari{
    font-size: 1.55em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #001e5f;
    margin-bottom: 30px;
}

.two-column{
    width: 100%;
    float: none;
    max-width: 740px;
    margin: auto;
}

.two-column > div{
    width: 53%;
    float: left;
    padding: 1%;
}

.two-column > div + div{
    width: 43%;
    float: left;
    padding: 1% 0;
}

/* Questions */
.questions-content header{
    display: block;
    height: 175px;
}

.questions-content header img{
    width: 100%;
    height: 235px;
}

article.article-questions{
    padding: 30px 70px;
    color: #202020;
    font-size: 0.95em;
    line-height: 2.5em;
}

article.article-questions .h3{
    font-weight: 500;
    font-size: 1.2em;
    display: block;
}

.title.title-questions{
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #001e5f;
    font-family: ProximaNova;
    margin-bottom: 30px;
}

.subtitle.subtitle-questions{
    font-size: 1.55em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 70px;
    color: #001e5f;
}

.post-image{
    text-align: center;
}

.post-image img{
    width: 570px;
}

.question-number {
    float: left;
    font-weight: bold;
    padding-right: 10px;
}

.question-number + p {
    margin-bottom: 0;
}

.sq-2 {
    padding-left: 20px;
}

.section-question {
    font-size: 1.3em;
}