button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.panel-content div {
    padding: 10px;
}

.template-composer {
    min-height: 300px;
    /*max-height: 29.7cm;*/
    height: auto;
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
}

#left-copy-1tomany * {
    cursor: move;
}

.editable-container.editable-inline {
    position: relative;
    z-index: 10;
}

a[data-wysihtml5-command="createLink"], a[data-wysihtml5-command="insertImage"] {
    display: none !important;
}

.row-old .element-wrapper {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 50px;
    border: solid .5px black;
}

.row-old {
    margin: 0 !important;
}

div[data-edit="false"] {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

div[data-edit="false"] > button.close {
    position: absolute;
    top: 0;
    right: 0;
}

div[data-edit="false"].row-old > button.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

#right-copy-1tomany {
    counter-reset: my-counter;
}

.row-old:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    left: -17px;
    top: -1px;
    width: 30px;
    background: #035AA4;
    color: white;
    font-size: 2em;
    padding: 0 5px;
    z-index: 1;
    text-align: center;
}

.hide-composer > button, .hide-composer > button:focus, .hide-composer > button:active, .hide-composer > button:hover {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    background: none;
    color: #3c8dbc;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}