<table class="main"   width="100%"  cellspacing="0" cellpadding="0" border="0" align="center" style="background-color:#FFFFFF">
    <tbody>
        <tr>
            <td align="left" class=" element-content" style="padding-left:50px;padding-right:50px;padding-top:10px;padding-bottom:10px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
                <div>
                    [survey-formula]
                </div>
            </td>
        </tr>
    </tbody>
</table>
