
            <table  class="main" width="100%" cellspacing="0" cellpadding="0" border="0"
                   align="center"
                   data-types="background,padding,border-radius,image-settings"
                   data-last-type="background">
                <tbody>
                    <tr>
                        <td align="center" class="image image-full element-content" contenteditable="true"
                            style="padding:0;">
                            <img  class="content-image " style="width: 100%;height:200px;"
                            src="https://placeholdit.imgix.net/~text?txtsize=50&txt=image&w=793.700787&h=200" />
                        </td>
                    </tr>
                </tbody>
            </table>
