<table style="background-color: #D8D8D8; margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 100%;" cellspacing="0" cellpadding="0" border="0" bgcolor="#D8D8D8" width="100%" data-module-id="11" class="in-container ui-sortable-handle">
    <tbody><tr>
      <td align="center" valign="top">
        <table class="p100" style="background-color: #FFFFFF; margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 800px;" width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
          <tbody><tr>
            <td style="width: 30px;" width="30" valign="top" align="left">&nbsp;</td>
            <td align="center" valign="top">
              <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 21cm;" width="793.700787" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                  <td align="center" valign="top">
                    <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 21cm;" width="793.700787" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody><tr>
                        <td valign="top" align="left">
                          <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 21cm;" width="793.700787" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                              <td style="font-size: 1px; height: 30px; line-height: 30px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="hide" style="font-size: 1px; height: 25px; line-height: 25px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="color: rgb(91, 91, 91); font-size: 12px; font-weight: 400; letter-spacing: 0.1em; text-align: center; text-transform: uppercase; cursor: pointer; box-sizing: content-box; outline: none 0px;" valign="top" align="left" class="editable_text header2">
                                <!--===================================================-->
                                <!--|                    SUBTITLE                    |-->
                                <!--===================================================-->
                                <font face="'Open Sans', sans-serif">NEWS #1</font>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size: 1px; height: 10px; line-height: 10px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="color: rgb(51, 51, 51); font-size: 35px; font-weight: 700; letter-spacing: 0px; text-align: center; cursor: pointer; box-sizing: content-box; outline: none 0px;" valign="top" align="left" class="editable_text header">
                                <!--===================================================-->
                                <!--|                      TITLE                      |-->
                                <!--===================================================-->
                                <font face="'Open Sans', sans-serif">From Our Blog</font>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size: 1px; height: 22px; line-height: 22px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="hide" style="font-size: 1px; height: 5px; line-height: 5px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="border-bottom: 1px solid #DFDFDF; font-size: 1px; height: 1px; line-height: 1px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 1px; height: 40px; line-height: 40px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="width: 21cm;" width="793.700787" align="left" valign="top">
                          <!--[if gte mso 9]>
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="793.700787">
                              <tr>
                              <td align="left" valign="top" width="285">
                              <![endif]-->
                          <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 285px;" width="285" cellspacing="0" cellpadding="0" border="0" align="left">
                            <tbody><tr>
                              <td align="center" valign="top">
                                <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 285px;" width="285" cellspacing="0" cellpadding="0" border="0" align="center">
                                  <tbody><tr>
                                    <td class="p100" style="width: 285px;" width="285" align="left" valign="top">
                                      <!--===================================================-->
                                      <!--|                      IMAGE                      |-->
                                      <!--===================================================-->
                                      <a href="#" class="p100" style="border: none; color: inherit; display: block; font-family: &quot;Open Sans&quot;, sans-serif; font-size: inherit; outline: none; text-decoration: none; cursor: pointer;">
                                        <img src="templates/Rigo/html_responsive/full/images/s12_image_1.png" alt="img" class="p100" style="-ms-interpolation-mode: bicubic; border: 0; display: block; outline: 0; text-decoration: none; width: 285px;" width="285" border="0">
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 25px; line-height: 25px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td style="color: rgb(52, 52, 52); font-size: 19px; font-weight: 700; line-height: 23px; cursor: pointer;" align="left" valign="top" class="editable_text header3">
                                      <!--===================================================-->
                                      <!--|                      TITLE                      |-->
                                      <!--===================================================-->
                                      <font face="'Open Sans', sans-serif">See Our Studio</font>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 20px; line-height: 20px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top">
                                      <table style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0;" cellspacing="0" cellpadding="0" border="0" align="left">
                                        <tbody><tr>
                                          <!--===================================================-->
                                          <!--|                      AUTOR                      |-->
                                          <!--===================================================-->
                                          <td style="color: rgb(52, 52, 52); font-size: 12px; font-weight: 500; letter-spacing: 0.06em; line-height: 23px; cursor: pointer;" valign="top" align="left" class="editable_text text"><font face="'Open Sans', sans-serif">Paul Spencer&nbsp;</font>
                                          </td>
                                          <td style="color: rgb(158, 158, 158); font-size: 12px; font-weight: 400; line-height: 23px; cursor: pointer;" valign="top" align="left" class="editable_text text2"><font face="'Open Sans', sans-serif">/ December 12, 2015</font>
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 20px; line-height: 20px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td style="color: rgb(139, 139, 139); font-size: 14px; font-weight: 400; letter-spacing: 0.01em; line-height: 23px; cursor: pointer;" align="left" valign="top" class="editable_text text3">
                                      <!--===================================================-->
                                      <!--|                     CONTENT                     |-->
                                      <!--===================================================-->
                                      <font face="'Open Sans', sans-serif">Lorem ipsum dolor sit amet enim. ullamcorper. Suspendisse a ellentesque dui, non felis. Etiam ullamcorper.</font>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 25px; line-height: 25px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top">
                                      <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0;" cellspacing="0" cellpadding="0" border="0" align="left">
                                        <tbody><tr>
                                          <td align="center" valign="top">
                                            <!--===================================================-->
                                            <!--|                     BUTTON                     |-->
                                            <!--===================================================-->
                                            <table style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 100%;" cellspacing="0" cellpadding="0" border="0" width="100%">
                                              <tbody><tr>
                                                <td align="left" valign="top">
                                                  <table align="left" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border: 1px solid #979797; border-collapse: initial; border-radius: 30px; color: #979797; font-family: 'Open Sans', sans-serif; font-size: 13px; margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; overflow: hidden; padding: 0;" cellspacing="0" cellpadding="0" border="0" class="button">
                                                    <tbody><tr>
                                                      <td colspan="3" style="font-size: 1px; height: 7px; line-height: 7px; mso-line-height-rule: exactly;" valign="top" align="left" class="button">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="width: 20px;" width="20" valign="top" align="left" class="button">&nbsp;</td>
                                                      <td style="color: #B5B5B5; font-family: 'Open Sans', sans-serif; font-weight: 400; padding: 0;" align="center" valign="top" class="button">
                                                        <!--===================================================-->
                                                        <!--|                      LINK                      |-->
                                                        <!--===================================================-->
                                                        <a href="#" target="_blank" style="border: none; color: rgb(181, 181, 181); display: block; font-family: &quot;Open Sans&quot;, sans-serif; font-size: inherit; font-weight: 400; outline: none; padding: 0px; text-decoration: none; cursor: pointer;">Read more</a>
                                                      </td>
                                                      <td style="width: 20px;" width="20" valign="top" align="left" class="button">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td colspan="3" style="font-size: 1px; height: 7px; line-height: 7px; mso-line-height-rule: exactly;" valign="top" align="left" class="button">&nbsp;</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                            </tbody></table>
                                            <!--===================================================-->
                                            <!--|                  BUTTON - END                  |-->
                                            <!--===================================================-->
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                  </tr>
                                </tbody></table>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size: 1px; height: 40px; line-height: 40px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                          </tbody></table>
                          <!--[if gte mso 9]>
                              </td>
                              <td align="left" valign="top" width="30">
                              <![endif]-->
                          <table style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0;" cellspacing="0" cellpadding="0" border="0" align="left">
                            <tbody><tr>
                              <td style="font-size: 1px; height: 1px; line-height: 1px; width: 30px; mso-line-height-rule: exactly;" width="30" valign="top" align="left">&nbsp;</td>
                            </tr>
                          </tbody></table>
                          <!--[if gte mso 9]>
                              </td>
                              <td align="left" valign="top" width="285">
                              <![endif]-->
                          <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 285px;" width="285" cellspacing="0" cellpadding="0" border="0" align="left">
                            <tbody><tr>
                              <td align="center" valign="top">
                                <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 285px;" width="285" cellspacing="0" cellpadding="0" border="0" align="center">
                                  <tbody><tr>
                                    <td class="p100" style="width: 285px;" width="285" align="left" valign="top">
                                      <!--===================================================-->
                                      <!--|                      IMAGE                      |-->
                                      <!--===================================================-->
                                      <a href="#" class="p100" style="border: none; color: inherit; display: block; font-family: &quot;Open Sans&quot;, sans-serif; font-size: inherit; outline: none 0px; text-decoration: none; cursor: pointer; box-sizing: content-box;">
                                        <img src="templates/Rigo/html_responsive/full/images/s12_image_2.png" alt="img" class="p100" style="-ms-interpolation-mode: bicubic; border: 0; display: block; outline: 0; text-decoration: none; width: 285px;" width="285" border="0">
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 25px; line-height: 25px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td style="color: rgb(52, 52, 52); font-size: 19px; font-weight: 700; line-height: 23px; cursor: pointer; box-sizing: content-box; outline: none 0px;" align="left" valign="top" class="editable_text header3">
                                      <!--===================================================-->
                                      <!--|                      TITLE                      |-->
                                      <!--===================================================-->
                                      <font face="'Open Sans', sans-serif">See Our Studio</font>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 20px; line-height: 20px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top">
                                      <table style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0;" cellspacing="0" cellpadding="0" border="0" align="left">
                                        <tbody><tr>
                                          <!--===================================================-->
                                          <!--|                      AUTOR                      |-->
                                          <!--===================================================-->
                                          <td style="color: rgb(52, 52, 52); font-size: 12px; font-weight: 500; letter-spacing: 0.06em; line-height: 23px; cursor: pointer;" valign="top" align="left" class="editable_text text"><font face="'Open Sans', sans-serif">Paul Spencer&nbsp;</font>
                                          </td>
                                          <td style="color: rgb(158, 158, 158); font-size: 12px; font-weight: 400; line-height: 23px; cursor: pointer;" valign="top" align="left" class="editable_text text2"><font face="'Open Sans', sans-serif">/ December 12, 2015</font>
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 20px; line-height: 20px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td style="color: rgb(139, 139, 139); font-size: 14px; font-weight: 400; letter-spacing: 0.01em; line-height: 23px; cursor: pointer; box-sizing: content-box; outline: none 0px;" align="left" valign="top" class="editable_text text3">
                                      <!--===================================================-->
                                      <!--|                     CONTENT                     |-->
                                      <!--===================================================-->
                                      <font face="'Open Sans', sans-serif">Lorem ipsum dolor sit amet enim. ullamcorper. Suspendisse a ellentesque dui, non felis. Etiam ullamcorper.</font>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 1px; height: 25px; line-height: 25px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top">
                                      <table class="p100" style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0;" cellspacing="0" cellpadding="0" border="0" align="left">
                                        <tbody><tr>
                                          <td align="center" valign="top">
                                            <!--===================================================-->
                                            <!--|                     BUTTON                     |-->
                                            <!--===================================================-->
                                            <table style="margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; padding: 0; width: 100%;" cellspacing="0" cellpadding="0" border="0" width="100%">
                                              <tbody><tr>
                                                <td align="left" valign="top">
                                                  <table align="left" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border: 1px solid #979797; border-collapse: initial; border-radius: 30px; color: #979797; font-family: 'Open Sans', sans-serif; font-size: 13px; margin: 0; mso-table-lspace: 0; mso-table-rspace: 0; overflow: hidden; padding: 0;" cellspacing="0" cellpadding="0" border="0" class="button">
                                                    <tbody><tr>
                                                      <td colspan="3" style="font-size: 1px; height: 7px; line-height: 7px; mso-line-height-rule: exactly;" valign="top" align="left" class="button">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="width: 20px;" width="20" valign="top" align="left" class="button">&nbsp;</td>
                                                      <td style="color: #B5B5B5; font-family: 'Open Sans', sans-serif; font-weight: 400; padding: 0;" align="center" valign="top" class="button">
                                                        <!--===================================================-->
                                                        <!--|                      LINK                      |-->
                                                        <!--===================================================-->
                                                        <a href="#" target="_blank" style="border: none; color: rgb(181, 181, 181); display: block; font-family: &quot;Open Sans&quot;, sans-serif; font-size: inherit; font-weight: 400; outline: none; padding: 0px; text-decoration: none; cursor: pointer;">Read more</a>
                                                      </td>
                                                      <td style="width: 20px;" width="20" valign="top" align="left" class="button">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td colspan="3" style="font-size: 1px; height: 7px; line-height: 7px; mso-line-height-rule: exactly;" valign="top" align="left" class="button">&nbsp;</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                            </tbody></table>
                                            <!--===================================================-->
                                            <!--|                  BUTTON - END                  |-->
                                            <!--===================================================-->
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                  </tr>
                                </tbody></table>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size: 1px; height: 60px; line-height: 60px; mso-line-height-rule: exactly;" valign="top" align="left">&nbsp;</td>
                            </tr>
                          </tbody></table>
                          <!--[if gte mso 9]>
                              </td>
                              </tr>
                              </table>
                              <![endif]-->
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </td>
            <td style="width: 30px;" width="30" valign="top" align="left">&nbsp;</td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table>
