/* The switch - the box around the slider */

.label-switch {
  top: 5px;
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.round-btn {
  border-radius: 15px;
}

.show-advance {
  width: 90%;
  margin: 0 auto;
  padding-left: 17%;
  padding-right: 17%;
}

.show-advance button {
  width: 100%;
}

.form-setting div.form-group {
  padding-top: 10px;
}

.label-switch {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}



@media only screen and (max-width: 360px) {
  .label-switch {
    max-width: 170px;
  }
}

@media only screen and (max-width: 320px) {

  .show-advance {
    width: auto;
  }

  .show-advance button {
    width: auto;
  }
  
}

.login-register-box {
    width: 1000px !important;
    /*margin: 7% auto;*/
}

.box-social-media {
    width: 560px !important;
    /*margin: 7% auto;*/
}

.skin-blue .main-header .navbar {
    background-color: #035AA4 !important;
}

.skin-blue .main-header li.user-header {
    background-color: #035AA4 !important;
}

/*.introjs-tooltipReferenceLayer{
    width: 240px;
    height: 54px;
    top: 147px;
    left: 22px !important;

}

.introjs-helperLayer {
    width: 240px;
    height: 54px;
    top: 147px;
    left: 11px !important;
}*/


.intro-menu {
  margin-left:  22px;
}

/*.intro-product {
  top: 0px !important; 
  left: 0px !important; 
}
*/

.sidebar .user-panel .image img {
  /*height: 50%;*/
}

.optionGroup {
  font-weight: bold;
}
    
.optionChild {
  padding-left: 15px;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
    display: block;
  }

  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 230px;
  }

  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 230px;
  }
}

@media (max-width: 768px) {
  .main-header .logo .logo-lg img {
    max-width: 100% !important;
    height: 55px;
  }
}

.skin-blue .sidebar-menu>li>.treeview-menu {
  padding-left: 15px;
}

/* AR Custom */
.box {
  margin-top: 10px;
}

.btn.btn-primary,
.box.box-solid.box-primary>.box-header,
.bg-primary {
  background-color: #035AA4;
  border-color: #035AA4;
}

.m-right-10 {
  margin-right: 10px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}
/* End AR Custom */