<<?php echo $tag; ?> id="<?php echo $container; ?>" style="display: none;"><?php echo $content; ?></<?php echo $tag; ?>>
<style>
<?php echo $style; ?>
</style>
<script type="text/javascript">
$('#<?php echo $container; ?>').<?php echo $method; ?>('<?php echo $selector; ?>').show();
</script>