/*
  Journal - Advanced Opencart Theme Framework
  Version 2.9.0
  Copyright (c) 2017 Digital Atelier
  https://www.journal-theme.com/
*/
/******************************
 JOURNAL GRID
*******************************/
@media only screen and (max-width: 1220px) {
  .lg-5 {
    width: 5%; }

  .lg-10 {
    width: 10%; }

  .lg-15 {
    width: 15%; }

  .lg-20 {
    width: 20%; }

  .lg-25 {
    width: 25%; }

  .lg-30 {
    width: 30%; }

  .lg-35 {
    width: 35%; }

  .lg-40 {
    width: 40%; }

  .lg-45 {
    width: 45%; }

  .lg-50 {
    width: 50%; }

  .lg-55 {
    width: 55%; }

  .lg-60 {
    width: 60%; }

  .lg-65 {
    width: 65%; }

  .lg-70 {
    width: 70%; }

  .lg-75 {
    width: 75%; }

  .lg-80 {
    width: 80%; }

  .lg-85 {
    width: 85%; }

  .lg-90 {
    width: 90%; }

  .lg-95 {
    width: 95%; }

  .lg-100 {
    width: 100%; }

  .lg-11 {
    width: 11.111111%; }

  .lg-12 {
    width: 12.5%; }

  .lg-14 {
    width: 14.285714%; }

  .lg-16 {
    width: 16.666666%; }

  .lg-33 {
    width: 33.333333%; }

  .lg-66 {
    width: 66.666666%; } }
@media only screen and (max-width: 980px) {
  .md-5 {
    width: 5%; }

  .md-10 {
    width: 10%; }

  .md-15 {
    width: 15%; }

  .md-20 {
    width: 20%; }

  .md-25 {
    width: 25%; }

  .md-30 {
    width: 30%; }

  .md-35 {
    width: 35%; }

  .md-40 {
    width: 40%; }

  .md-45 {
    width: 45%; }

  .md-50 {
    width: 50%; }

  .md-55 {
    width: 55%; }

  .md-60 {
    width: 60%; }

  .md-65 {
    width: 65%; }

  .md-70 {
    width: 70%; }

  .md-75 {
    width: 75%; }

  .md-80 {
    width: 80%; }

  .md-85 {
    width: 85%; }

  .md-90 {
    width: 90%; }

  .md-95 {
    width: 95%; }

  .md-100 {
    width: 100%; }

  .md-11 {
    width: 11.111111%; }

  .md-12 {
    width: 12.5%; }

  .md-14 {
    width: 14.285714%; }

  .md-16 {
    width: 16.666666%; }

  .md-33 {
    width: 33.333333%; }

  .md-66 {
    width: 66.666666%; } }
@media only screen and (max-width: 760px) {
  .sm-5 {
    width: 5%; }

  .sm-10 {
    width: 10%; }

  .sm-15 {
    width: 15%; }

  .sm-20 {
    width: 20%; }

  .sm-25 {
    width: 25%; }

  .sm-30 {
    width: 30%; }

  .sm-35 {
    width: 35%; }

  .sm-40 {
    width: 40%; }

  .sm-45 {
    width: 45%; }

  .sm-50 {
    width: 50%; }

  .sm-55 {
    width: 55%; }

  .sm-60 {
    width: 60%; }

  .sm-65 {
    width: 65%; }

  .sm-70 {
    width: 70%; }

  .sm-75 {
    width: 75%; }

  .sm-80 {
    width: 80%; }

  .sm-85 {
    width: 85%; }

  .sm-90 {
    width: 90%; }

  .sm-95 {
    width: 95%; }

  .sm-100 {
    width: 100%; }

  .sm-11 {
    width: 11.111111%; }

  .sm-12 {
    width: 12.5%; }

  .sm-14 {
    width: 14.285714%; }

  .sm-16 {
    width: 16.666666%; }

  .sm-33 {
    width: 33.333333%; }

  .sm-66 {
    width: 66.666666%; } }
@media only screen and (max-width: 470px) {
  .xs-5 {
    width: 5%; }

  .xs-10 {
    width: 10%; }

  .xs-15 {
    width: 15%; }

  .xs-20 {
    width: 20%; }

  .xs-25 {
    width: 25%; }

  .xs-30 {
    width: 30%; }

  .xs-35 {
    width: 35%; }

  .xs-40 {
    width: 40%; }

  .xs-45 {
    width: 45%; }

  .xs-50 {
    width: 50%; }

  .xs-55 {
    width: 55%; }

  .xs-60 {
    width: 60%; }

  .xs-65 {
    width: 65%; }

  .xs-70 {
    width: 70%; }

  .xs-75 {
    width: 75%; }

  .xs-80 {
    width: 80%; }

  .xs-85 {
    width: 85%; }

  .xs-90 {
    width: 90%; }

  .xs-95 {
    width: 95%; }

  .xs-100 {
    width: 100%; }

  .xs-11 {
    width: 11.111111%; }

  .xs-12 {
    width: 12.5%; }

  .xs-14 {
    width: 14.285714%; }

  .xs-16 {
    width: 16.666666%; }

  .xs-33 {
    width: 33.333333%; }

  .xs-66 {
    width: 66.666666%; } }
/******************************
 GENERAL
*******************************/
@media only screen and (max-width: 1024px) {
  .product-grid-item:hover .image > a > img, .product-list-item:hover .image > a > img {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: opacity 0;
            transition: opacity 0; }

  .p-over, .quickview-button, .gallery-thumb a:before, .gallery-thumb .item-hover {
    display: none; } }
@media only screen and (max-width: 980px) {
  #container, #header {
    max-width: 100%; }

  .side-block-left,
  .side-block-right,
  .banner-overlay {
    display: none !important; } }
@media only screen and (max-width: 760px) {
  .hide-on-phone {
    display: none !important; }

  #cart .content {
    width: 100%; }

  .login-content .left {
    width: 100%;
    margin-bottom: 30px; }

  .login-content .right {
    width: 100%; }

  .login-content .left p:nth-child(2) {
    min-height: 55px; }

  .side-block-left,
  .side-block-right {
    display: none; }

  .heading-title, .box-heading {
    max-height: 100%; }

  .home-page #container:before {
    display: none; } }
@media only screen and (max-width: 470px) {
  table.form td {
    display: block; } }
/******************************
HEADER
*******************************/
@media only screen and (max-width: 980px) {
  .journal-desktop .sticky-wrapper {
    max-height: 160px; }

  .journal-menu {
    clear: both; }

  .journal-header-default.nocart-nosearch .journal-menu {
    clear: none; }

  #cart {
    box-shadow: none; }

  .sticky-wrapper {
    height: auto !important; } }
@media only screen and (max-width: 760px) {
  .journal-header-center .journal-links .links {
    width: 100%; }

  body header {
    box-shadow: none; }

  header .links > a {
    border-bottom-color: #E4E4E4;
    border-top-style: solid;
    border-top-width: 1px; }

  #header {
    padding-top: 40px; }
    #header .journal-links {
      position: absolute;
      top: 0; }

  .is-sticky {
    max-height: 100%; } }
@media only screen and (max-width: 760px) {
  .journal-header .text-only > i {
    display: none; }
  .journal-header .icon-only > i {
    font-size: 160% !important; }
  .journal-header .icon-only > span {
    display: none; } }
/******************************
 HEADER CENTER
*******************************/
@media only screen and (max-width: 1039px) {
  .journal-header-default.nocart .links > a:last-child {
    border-right-width: 0; } }
@media only screen and (max-width: 760px) {
  .super-menu > li:last-of-type {
    border-left-width: 0 !important; }

  .journal-header-center {
    box-shadow: none; }
    .journal-header-center .j-100 {
      height: 70px !important; }
    .journal-header-center .journal-cart, .journal-header-center .journal-search, .journal-header-center .journal-secondary, .journal-header-center .journal-links {
      padding: 0; }
    .journal-header-center .journal-search, .journal-header-center .journal-cart {
      top: 0 !important; }
    .journal-header-center .journal-top-header {
      border-bottom-width: 0; }
    .journal-header-center .journal-menu-bg {
      display: none; }
    .journal-header-center #search input {
      border-radius: 0; }
    .journal-header-center .button-search {
      border-radius: 0; }
    .journal-header-center .journal-cart {
      border-radius: 0; }
      .journal-header-center .journal-cart #cart .heading a span {
        border-top: 1px solid transparent; }
      .journal-header-center .journal-cart #cart {
        border-radius: 0;
        border-right-width: 0 !important; }
        .journal-header-center .journal-cart #cart .content {
          padding-top: 0; }
          .journal-header-center .journal-cart #cart .content .cart-wrapper {
            border-radius: 0; }
          .journal-header-center .journal-cart #cart .content:before {
            display: none; }
      .journal-header-center .journal-cart #cart .heading i {
        border-radius: 0; }
    .journal-header-center .journal-center-bg {
      top: 80px; }
    .journal-header-center .journal-secondary {
      width: 100%;
      text-align: center;
      clear: both;
      background-color: #FAFAFA;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent; }
    .journal-header-center .links {
      float: none !important;
      margin: 0 auto; }
    .journal-header-center .autocomplete2-suggestions {
      top: 40px;
      border-radius: 0; }
      .journal-header-center .autocomplete2-suggestions:before {
        display: none; }
    .journal-header-center .autocomplete2-selected:first-child,
    .journal-header-center .autocomplete2-selected:last-child,
    .journal-header-center .autocomplete2-suggestion:first-child > a > span > img,
    .journal-header-center .autocomplete2-suggestion:last-child > a > span > img {
      border-radius: 0; }

  .journal-top-header {
    border-bottom-width: 0; }

  header.journal-header-mega #logo a {
    text-align: center; } }
@media only screen and (max-width: 470px) {
  #cart .content {
    min-width: 100%; }

  .journal-header-center .journal-cart #cart {
    border-left-width: 0 !important; } }
/******************************
 HEADER DEFAULT
*******************************/
@media only screen and (max-width: 760px) {
  .journal-header-default .j-tall,
  .journal-header-menu .j-tall {
    height: 85px; } }
/******************************
 PHONE STICKY MENU / CART
*******************************/
@media only screen and (max-width: 760px) {
  #cart, #search {
    box-shadow: none !important; }

  .super-menu > li:first-of-type {
    border-top-width: 1px;
    border-top-style: solid; }

  .phone-sticky-cart #cart {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 50%;
    left: 50%;
    background-color: inherit;
    -webkit-transition: background-color 0s;
            transition: background-color 0s; }
    .phone-sticky-cart #cart .content {
      width: 200%; }
  .phone-sticky-cart.journal-header-compact {
    margin-bottom: 40px; }
    .phone-sticky-cart.journal-header-compact .journal-menu {
      position: fixed;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
      top: 0; }

  .phone-sticky-cart.phone-sticky-menu .journal-menu {
    position: fixed;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    top: 0; }

  .phone-sticky-cart.phone-sticky-menu:not(.menu-cart-off) {
    margin-bottom: 40px; }

  .phone-sticky-cart.menu-cart-off #cart {
    width: 100%;
    left: 0;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3) !important; }
    .phone-sticky-cart.menu-cart-off #cart .content {
      width: 100%; }
  .phone-sticky-cart.menu-cart-off .journal-menu {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 50%;
    box-shadow: none; }
    .phone-sticky-cart.menu-cart-off .journal-menu .mobile-menu {
      width: 200%; }
    .phone-sticky-cart.menu-cart-off .journal-menu .mobile-trigger {
      margin-top: 0; }

  html[dir="rtl"] .phone-sticky-cart #cart {
    right: 50%;
    left: auto; } }
@media only screen and (max-width: 760px) {
  .journal-menu .mega-menu,
  .journal-menu .mobile-menu > li > ul {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  .journal-menu .mega-menu-item.xs-50 {
    max-width: 50vw; }

  .mobile-menu > li:nth-child(-n+3) .mega-menu,
  .mobile-menu > li:nth-child(-n+3) > ul {
    max-height: 65vh; }

  .mobile-menu > li:nth-child(n+3) .mega-menu,
  .mobile-menu > li:nth-child(n+3) > ul {
    max-height: 50vh; }

  .mobile-menu > li:nth-child(n+5) .mega-menu,
  .mobile-menu > li:nth-child(n+5) > ul {
    max-height: 40vh; }

  .mobile-menu > li:nth-child(n+6) .mega-menu,
  .mobile-menu > li:nth-child(n+6) > ul {
    max-height: 30vh; }

  .super-menu {
    box-shadow: none;
    border-radius: 0; } }
/******************************
EXTENDED MENU
*******************************/
@media only screen and (max-width: 980px) {
  .journal-header-menu #cart {
    box-shadow: none; }
  .journal-header-menu .j-50 {
    height: 40px; }
  .journal-header-menu.nocart-nosearch .j-med {
    height: 80px; } }
/******************************
 MEGA MENU
*******************************/
@media only screen and (max-width: 1024px) {
  .super-menu > li:first-of-type {
    border-left-width: 0; } }
@media only screen and (max-width: 980px) {
  .journal-header-default .super-menu > li > div {
    left: 0;
    margin-left: 0; } }
@media only screen and (max-width: 760px) {
  .super-menu > li.icon-only {
    width: 100%; }

  .mobile-trigger {
    display: block;
    height: 40px;
    line-height: 39px;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    color: #EEEEEE;
    cursor: pointer; }
    .mobile-trigger:before {
      content: "\e618";
      color: inherit;
      margin-right: 10px;
      font-size: 23px;
      float: left; }

  .journal-mobile .mega-menu, .journal-mobile .html-menu {
    position: relative; }

  .journal-menu .mobile-menu li:last-of-type {
    border-right-width: 0; }

  .journal-menu {
    height: auto; }
    .journal-menu .mobile-menu {
      display: none;
      box-shadow: none; }
      .journal-menu .mobile-menu > li {
        position: relative;
        display: block;
        border-bottom: 1px solid #333745;
        border-left-width: 0;
        border-right-width: 0;
        left: 0; }
        .journal-menu .mobile-menu > li .mobile-plus {
          display: none;
          width: 40px;
          height: 40px;
          line-height: 35px;
          font-size: 25px;
          font-weight: bold;
          top: 0;
          right: 0;
          position: absolute;
          text-align: center;
          cursor: pointer;
          color: white;
          background-color: #4f5660;
          border-style: solid;
          border-color: inherit; }
        .journal-menu .mobile-menu > li > ul {
          left: 0 !important; }
          .journal-menu .mobile-menu > li > ul li .mobile-plus {
            border-left-width: 0;
            height: 40px; }
        .journal-menu .mobile-menu > li > a {
          text-align: left;
          padding-left: 10px; }
      .journal-menu .mobile-menu li:last-of-type {
        border-bottom-color: transparent !important; }
        .journal-menu .mobile-menu li:last-of-type .mobile-plus {
          border-bottom-color: transparent !important; }
      .journal-menu .mobile-menu > li > ul + .mobile-plus,
      .journal-menu .mobile-menu > li > div + .mobile-plus,
      .journal-menu .mobile-menu > li > span + .mobile-plus,
      .journal-menu .mobile-menu > li > ul li .mobile-plus {
        display: block; }
      .journal-menu .mobile-menu .mega-menu {
        max-width: 100vw; } }
/******************************
 MOBILE MENU ON TABLET
*******************************/
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none !important; } }
@media only screen and (max-width: 980px) {
  .mobile-menu-on-tablet .super-menu {
    box-shadow: none; }
  .mobile-menu-on-tablet .sticky-wrapper {
    height: auto !important;
    max-height: 100% !important; }
  .mobile-menu-on-tablet .journal-header-center {
    box-shadow: none; }
  .mobile-menu-on-tablet header .super-menu > li.icon-only {
    width: 100%; }
  .mobile-menu-on-tablet .mobile-trigger {
    display: block;
    height: 40px;
    line-height: 39px;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
    color: #EEEEEE; }
    .mobile-menu-on-tablet .mobile-trigger:before {
      content: "\e618";
      margin-right: 10px;
      font-size: 23px;
      float: left; }
  .mobile-menu-on-tablet.journal-desktop header .mega-menu, .mobile-menu-on-tablet .journal-mobile .html-menu {
    position: relative; }
  .mobile-menu-on-tablet header .journal-menu .mobile-menu li:last-of-type {
    border-right-width: 0; }
  .mobile-menu-on-tablet header .journal-menu {
    height: auto; }
    .mobile-menu-on-tablet header .journal-menu .mobile-menu {
      display: none;
      border-width: 0;
      overflow: hidden; }
      .mobile-menu-on-tablet header .journal-menu .mobile-menu > li {
        position: relative;
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-left-width: 0;
        border-right-width: 0;
        left: 0;
        width: 100%; }
        .mobile-menu-on-tablet header .journal-menu .mobile-menu > li .mobile-plus {
          display: none;
          width: 40px;
          height: 40px;
          line-height: 35px;
          font-size: 25px;
          font-weight: bold;
          top: 0;
          right: 0;
          position: absolute;
          text-align: center;
          cursor: pointer;
          color: white;
          background-color: #4f5660;
          border-left-width: 0;
          border-style: solid;
          border-color: inherit; }
        .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > ul {
          left: 0 !important; }
          .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > ul li .mobile-plus {
            border-left-width: 0;
            height: 40px; }
        .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > a {
          text-align: left;
          padding-left: 10px; }
      .mobile-menu-on-tablet header .journal-menu .mobile-menu li:last-of-type {
        border-bottom-color: transparent !important; }
        .mobile-menu-on-tablet header .journal-menu .mobile-menu li:last-of-type .mobile-plus {
          border-bottom-color: transparent !important; }
      .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > ul + .mobile-plus,
      .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > div + .mobile-plus,
      .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > span + .mobile-plus,
      .mobile-menu-on-tablet header .journal-menu .mobile-menu > li > ul li .mobile-plus {
        display: block; } }
/******************************
Dropdown
*******************************/
.mobile-menu > li > ul {
  border-width: 0; }

@media only screen and (max-width: 980px) {
  .mobile-menu-on-tablet .mobile-menu > li > ul, .mobile-menu-on-tablet .mobile-menu > li > .mega-menu {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #EEEEEE; }
  .mobile-menu-on-tablet .mobile-menu .drop-down > ul {
    border-width: 1px 0 0 0;
    display: none; }
  .mobile-menu-on-tablet .mobile-menu .drop-down ul {
    width: 100%;
    position: relative;
    box-shadow: none;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: none; }
    .mobile-menu-on-tablet .mobile-menu .drop-down ul li {
      color: #333745;
      position: relative;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #EEEEEE; } }
/******************************
 MEGA-MENU MIXED
*******************************/
@media only screen and (max-width: 760px) {
  .mega-menu-mixed .mega-menu .mega-menu-column {
    width: 100% !important;
    float: none; } }
/******************************
Dropdown
*******************************/
@media only screen and (max-width: 760px) {
  .mobile-menu > li > ul, .mobile-menu > li > .mega-menu {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #EEEEEE; }
  .mobile-menu .drop-down > ul {
    display: none;
    border-width: 1px 0 0 0; }
  .mobile-menu .drop-down ul {
    width: 100%;
    position: relative;
    box-shadow: none;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: none; }
    .mobile-menu .drop-down ul li {
      color: #333745;
      position: relative;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #EEEEEE; }
      .mobile-menu .drop-down ul li a {
        margin-right: 20px;
        width: calc(100% - 50px);
        min-height: 38px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 5px 10px;
        white-space: normal; } }
/******************************
Android/Firefox
*******************************/
@media only screen and (max-width: 470px) {
  .firefox .sticky-wrapper, .firefox header {
    display: table; }
  .firefox #top-modules {
    clear: both; } }
/******************************
 PRODUCT PAGE
*******************************/
@media only screen and (max-width: 1040px) {
  #column-left + #column-right + #content .product-info > div,
  #column-left + #column-right + .row #content .product-info > div {
    display: block;
    width: 100%;
    float: none; }
  #column-left + #column-right + #content .product-info .right,
  #column-left + #column-right + .row #content .product-info .right {
    padding: 0;
    margin-top: 15px; }
    #column-left + #column-right + #content .product-info .right .text-qty,
    #column-left + #column-right + .row #content .product-info .right .text-qty {
      display: none; } }
@media only screen and (max-width: 980px) {
  .product-info .right .cart div .links span {
    display: none; }
  .product-info .right .cart div .links a {
    width: 100%;
    display: block; }
  .product-info .right .cart div .links a:first-of-type {
    margin-bottom: 10px; }
  .product-info.split-60-40 .right .cart div .qty {
    width: 100%;
    margin-bottom: 10px; }
  .product-info.split-60-40 .right .cart div .button {
    width: 100%; }

  #column-left + #content .product-info > div,
  #column-left + .row #content .product-info > div,
  #column-right + #content .product-info > div,
  #column-right + .row #content .product-info > div {
    display: block;
    width: 100%; }
  #column-left + #content .product-info .right,
  #column-left + .row #content .product-info .right,
  #column-right + #content .product-info .right,
  #column-right + .row #content .product-info .right {
    padding: 0;
    margin-top: 15px; }
    #column-left + #content .product-info .right .text-qty,
    #column-left + .row #content .product-info .right .text-qty,
    #column-right + #content .product-info .right .text-qty,
    #column-right + .row #content .product-info .right .text-qty {
      display: none; } }
@media only screen and (max-width: 980px) {
  .social {
    padding-top: 10px; }

  #tabs li:nth-last-child(n + 5), #tabs li:nth-last-child(n + 5) ~ li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    #tabs li:nth-last-child(n + 5) a, #tabs li:nth-last-child(n + 5) ~ li a {
      padding: 0 20px; } }
@media only screen and (max-width: 760px) {
  body.is-sticky {
    padding-top: 0 !important; }

  .header {
    top: 0 !important; }

  .product-info > div {
    display: block !important;
    width: 100% !important; }
  .product-info .right {
    padding: 0;
    margin-top: 15px; }
    .product-info .right .text-qty {
      display: none; }

  .social {
    padding-top: 10px; }

  #tabs {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    #tabs li {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
      #tabs li:last-of-type:nth-of-type(odd) {
        width: 100%; }
    #tabs a {
      width: 100%;
      display: block; }

  .tab-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

  .product-page #tabs li, .product-page #tabs a {
    float: none; } }
@media only screen and (max-width: 460px) {
  .product-info .right .cart div .qty {
    width: 100%;
    margin-bottom: 10px; }

  .product-info .right .cart div .button {
    width: 100%; } }
/******************************
 CATEGORY
*******************************/
@media only screen and (max-width: 980px) {
  .product-filter > div b {
    display: none; } }
@media only screen and (max-width: 760px) {
  #column-left, #column-right, .column-left-bg, .column-right-bg {
    display: none !important; }

  #column-left + #content,
  #column-right + #content,
  #column-left + .row #content,
  #column-right + .row #content,
  #column-left + #column-right + #content,
  #column-left + #column-right + .row #content,
  #column-left + span + #content,
  #column-right + span + #content,
  #column-left + #column-right + span + #content {
    margin: 0; }

  div#content {
    padding: 20px 20px 0 20px !important; } }
@media only screen and (max-width: 360px) {
  .block-button .button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto; }

  div.buttons {
    padding: 10px; }

  .pull-right {
    line-height: 1; }
    .pull-right .button + .button {
      width: 100%;
      margin-top: 5px; }

  .product-compare {
    display: none; }

  .product-list-item .image {
    width: 100%;
    float: none;
    margin-bottom: 10px; }
    .product-list-item .image img {
      float: none; }
  .product-list-item .name {
    margin-left: 0; }
  .product-list-item .product-details {
    margin-left: 0; }

  .product-filter .sort {
    position: absolute;
    max-width: 125px;
    right: 100px; }

  .product-filter .sort select {
    margin: 0; } }
.mobile .product-wrapper, .tablet .product-wrapper {
  box-shadow: none !important; }
.mobile #top-modules > div, .mobile #bottom-modules > div, .tablet #top-modules > div, .tablet #bottom-modules > div {
  background-attachment: scroll !important;
  background-size: auto; }
.mobile .product-grid-item .image .wishlist,
.mobile .product-grid-item .image .compare, .tablet .product-grid-item .image .wishlist,
.tablet .product-grid-item .image .compare {
  visibility: visible;
  opacity: 1; }
.mobile .hint--top::before, .mobile .hint--top::after, .mobile .product-details::before, .tablet .hint--top::before, .tablet .hint--top::after, .tablet .product-details::before {
  display: none !important; }

/******************************
CUSTOM SECTIONS
*******************************/
@media only screen and (max-width: 760px) {
  .single-section .box-sections.box-block ul li {
    width: 100%;
    float: none;
    margin-bottom: 0; }

  .box-sections {
    height: auto; }
    .box-sections ul li {
      min-width: 100%;
      float: none;
      display: block;
      margin-bottom: 0;
      border-right-width: 0;
      border-bottom-width: 1px; }
      .box-sections ul li:last-of-type {
        border-bottom-width: 0; }

  .box-sections ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .box-sections ul li {
      min-width: 50%;
      width: 50%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      border-right-width: 1px; }
      .box-sections ul li:nth-child(even) {
        border-right-width: 0; }
      .box-sections ul li:nth-last-child(2):nth-child(odd) {
        border-bottom-width: 0; }
      .box-sections ul li:last-of-type {
        border-right-width: 0; }

  html[dir="rtl"] .box-sections ul li:nth-child(even) {
    border-right-width: 1px; }

  html[dir="rtl"] .box-sections ul li:nth-last-child(odd) {
    border-right-width: 0; } }
/******************************
CAROUSEL
*******************************/
@media only screen and (max-width: 560px) {
  .journal-carousel .htabs {
    height: auto; }
    .journal-carousel .htabs a {
      background-color: transparent;
      box-shadow: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      color: inherit;
      border-right-width: 0;
      width: 100%; }
    .journal-carousel .htabs a:last-of-type {
      border-bottom-width: 0; }
  .journal-carousel .htabs.single-tab a, .journal-carousel .htabs.single-tab a.selected, .journal-carousel .htabs.single-tab a:hover {
    border-bottom-width: 0; } }
/******************************
 TABLES
*******************************/
@media only screen and (max-width: 540px) {
  table.list .t-2, table.list .t-3, table.list .t-6, table.list .t-span-3 {
    display: none; }
  table.list .t-span-1 {
    display: table-cell; } }
/******************************
 ACCOUNT
*******************************/
@media only screen and (max-width: 760px) {
  .login-content .login-wrap {
    min-height: 50px; }
  .login-content > div {
    min-height: 100%; } }
@media only screen and (max-width: 460px) {
  .order-list .order-info {
    text-align: center;
    padding: 5px 0;
    width: 50px; } }
/******************************
 WISHLIST
*******************************/
@media only screen and (max-width: 460px) {
  .wishlist-info .model, .wishlist-info .stock {
    display: none; } }
/******************************
SHOPPING CART
*******************************/
@media only screen and (max-width: 1024px) {
  #content ::-webkit-scrollbar {
    -webkit-appearance: none; }
  #content ::-webkit-scrollbar:horizontal {
    height: 10px; }
  #content ::-webkit-scrollbar-thumb {
    background-color: #999; }
  #content ::-webkit-scrollbar-track {
    background-color: #ddd; } }
@media only screen and (max-width: 1024px) {
  .compare-info .cart a {
    width: 100%;
    margin: 0; }
    .compare-info .cart a:first-of-type {
      margin-bottom: 7px; } }
@media only screen and (max-width: 760px) {
  .cart-info .model, .cart-info .price {
    display: none; }
  .cart-info .name a {
    white-space: normal; }

  .compare-info.table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > td.name {
    white-space: normal; }

  .compare-info.table > tbody > tr > td {
    min-width: 180px; } }
@media only screen and (max-width: 470px) {
  .cart-info .quantity {
    min-width: 50px; }
    .cart-info .quantity input[type="text"] {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      right: 0; }
  .cart-info .image img {
    max-width: 50px; }

  .sc-page .buttons > div,
  .sc-page .buttons > div a {
    width: 100%; }

  .sc-page .buttons .right {
    margin-bottom: 10px; }

  #total .right {
    width: 74%; }

  .checkout-content table {
    table-layout: auto; } }
/******************************
CHECKOUT
*******************************/
@media only screen and (max-width: 760px) {
  .checkout-content label {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

  .confirm-section > div label input[type='radio'],
  .confirm-section > div label input[type='checkbox'] {
    margin: 4px 5px 5px 0;
    float: left; }
  .confirm-section > div label a {
    margin-left: 3px; }
  .confirm-section > div::after {
    content: "";
    display: table;
    width: 100%;
    clear: both; }
  .confirm-section > div:first-of-type {
    margin-bottom: 5px; }

  .modal-open {
    overflow: hidden;
    margin-right: 15px; } }
@media only screen and (max-width: 470px) {
  .checkout-content .left, .checkout-content .right {
    width: 100%; }
  .checkout-content table {
    table-layout: fixed; }
    .checkout-content table td {
      width: 100%; }
  .checkout-content thead .model, .checkout-content thead .quantity, .checkout-content thead .price, .checkout-content tbody .model, .checkout-content tbody .quantity, .checkout-content tbody .price {
    display: none; }
  .checkout-content .button {
    display: block;
    float: right; }
  .checkout-content .buttons a {
    display: inline-block; }
  .checkout-content .buttons .right {
    text-align: left; }
  .checkout-content .left .button, .checkout-content #login .button {
    float: none; } }
/******************************
 SITEMAP
*******************************/
@media only screen and (max-width: 760px) {
  .sitemap-info > div {
    width: 100%;
    padding: 0; }
  .sitemap-info > div:first-of-type {
    padding: 0;
    padding-bottom: 20px; }

  .manufacturer-list ul {
    display: block;
    float: none;
    width: 100%; } }
/******************************
SEARCH PAGE
*******************************/
@media only screen and (max-width: 980px) {
  #content.search-page h2 {
    padding: 8px;
    line-height: 18px;
    height: auto; }
  #content.search-page .content select {
    display: block;
    margin: 10px 0; }
  #content.search-page .content label {
    min-width: 95%;
    display: inline-block; } }
@media only screen and (max-width: 760px) {
  #content.search-page .content label {
    min-width: 90%; } }
@media only screen and (max-width: 470px) {
  #content.search-page .content label {
    min-width: 85%; } }
/******************************
 FOOTER
*******************************/
@media only screen and (max-width: 760px) {
  [data-hint]:before, [data-hint]:after {
    display: none !important; }

  footer .contacts-left, footer .contacts-right {
    float: none; }
  footer .bottom-footer {
    height: auto;
    overflow: visible;
    border-radius: 0; }
    footer .bottom-footer .copyright {
      float: none;
      height: auto;
      margin-bottom: 10px;
      line-height: 50px;
      padding-left: 0 !important;
      text-align: center;
      width: 100%; }
    footer .bottom-footer .payments {
      padding-right: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
      float: none; }
      footer .bottom-footer .payments img {
        max-height: 25px;
        margin-top: 0;
        margin-bottom: 10px; }

  #footer .contacts {
    border-radius: 0; }
    #footer .contacts > div > span {
      display: block;
      margin-bottom: 5px; }
      #footer .contacts > div > span.hint--top {
        display: inline-block; }

  .footer-post-title {
    white-space: normal !important; }

  .collapse-footer-columns .column > h3 {
    position: relative; }
    .collapse-footer-columns .column > h3 + div {
      display: none; }
    .collapse-footer-columns .column > h3::after {
      content: "\e620";
      font-size: 12px;
      position: absolute;
      right: 7px;
      top: 3px;
      -webkit-transition: all 0.05s ease-out;
              transition: all 0.05s ease-out; }
    .collapse-footer-columns .column > h3.column-open::after {
      top: 3px;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  .collapse-footer-columns .column.products {
    padding-bottom: 0; }
    .collapse-footer-columns .column.products > h3 {
      margin-bottom: 0; }
      .collapse-footer-columns .column.products > h3 + div {
        margin-top: 8px; }
  .collapse-footer-columns .column.text {
    min-height: 100%; }
    .collapse-footer-columns .column.text h3 {
      margin-bottom: 0; }
      .collapse-footer-columns .column.text h3 + div {
        margin-top: 12px; }
  .collapse-footer-columns .column:last-of-type h3 {
    border-bottom-width: 0; }
  .collapse-footer-columns .column:last-of-type.xs-50 h3 {
    border-bottom-width: 1px; }

  .default-header .lang-full-mobile .journal-language {
    left: 5px; } }
@media only screen and (max-width: 470px) {
  footer .contacts > div .no-name {
    display: inline-block;
    margin-bottom: 0; }
  footer .bottom-footer .copyright {
    line-height: 100%;
    padding-top: 12px; } }
/******************************
PHOTO GALLERY
*******************************/
@media only screen and (max-width: 1024px) {
  .gallery-thumb a:before, .gallery-thumb .item-hover {
    display: none; } }
/******************************
 CMS BLOCKS
*******************************/
@media only screen and (max-width: 760px) {
  .cms-block, .static-banner {
    margin-bottom: 20px; } }
/******************************
ADVANCED GRID
*******************************/
@media only screen and (max-width: 760px) {
  .multi-modules-column {
    width: 100% !important; } }
/******************************
NEWSLETTER
*******************************/
@media only screen and (max-width: 980px) {
  .two-columns #content .journal-newsletter .newsletter-text {
    float: none;
    width: 100% !important;
    margin-bottom: 10px; }
  .two-columns #content .journal-newsletter .newsletter-input-wrap {
    float: none;
    width: 100% !important;
    height: auto !important;
    text-align: center; }
    .two-columns #content .journal-newsletter .newsletter-input-wrap .newsletter-button {
      position: relative;
      left: auto !important;
      right: auto !important;
      width: 100%; }
    .two-columns #content .journal-newsletter .newsletter-input-wrap input + .button {
      margin-top: 0; }

  .one-column #content .journal-newsletter .newsletter-text {
    float: none;
    width: 100% !important;
    margin-bottom: 10px; }
  .one-column #content .journal-newsletter .newsletter-input-wrap {
    float: none;
    width: 100% !important;
    text-align: center; } }
@media only screen and (max-width: 760px) {
  #content .journal-newsletter .newsletter-text, footer .journal-newsletter .newsletter-text, #top-modules .journal-newsletter .newsletter-text, #bottom-modules .journal-newsletter .newsletter-text {
    float: none;
    display: block !important;
    width: 100% !important;
    margin-bottom: 10px;
    padding-right: 0; }
  #content .journal-newsletter .newsletter-input-wrap, footer .journal-newsletter .newsletter-input-wrap, #top-modules .journal-newsletter .newsletter-input-wrap, #bottom-modules .journal-newsletter .newsletter-input-wrap {
    float: none;
    width: 100% !important;
    height: auto !important;
    text-align: center; }
    #content .journal-newsletter .newsletter-input-wrap input, footer .journal-newsletter .newsletter-input-wrap input, #top-modules .journal-newsletter .newsletter-input-wrap input, #bottom-modules .journal-newsletter .newsletter-input-wrap input {
      min-height: 34px; }
    #content .journal-newsletter .newsletter-input-wrap .newsletter-button, footer .journal-newsletter .newsletter-input-wrap .newsletter-button, #top-modules .journal-newsletter .newsletter-input-wrap .newsletter-button, #bottom-modules .journal-newsletter .newsletter-input-wrap .newsletter-button {
      position: relative !important;
      left: auto !important;
      right: auto !important;
      width: 100%;
      top: 0 !important;
      margin-top: 5px !important; }
    #content .journal-newsletter .newsletter-input-wrap input + .button, footer .journal-newsletter .newsletter-input-wrap input + .button, #top-modules .journal-newsletter .newsletter-input-wrap input + .button, #bottom-modules .journal-newsletter .newsletter-input-wrap input + .button {
      margin-top: 0; }

  .ui-pnotify {
    top: 0;
    left: 0;
    right: 0; } }
/******************************
 BLOG
*******************************/
@media only screen and (max-width: 470px) {
  .posts h2 a {
    height: auto !important; }

  .blog-list-view .posts .post-image {
    float: none;
    padding-right: 0;
    width: 100%; }
  .blog-list-view .posts .post-item-details {
    float: none;
    width: 100%; }
  .blog-list-view .posts h2 {
    margin-top: 10px; }
    .blog-list-view .posts h2 a {
      height: auto !important;
      display: inline-block;
      border-bottom: 1px solid #E4E4E4;
      padding-bottom: 7px; }
  .blog-list-view .post-text {
    padding: 5px 10px 10px 0; }
  .blog-list-view .comment-date {
    padding: 5px 0;
    border: 0; } }
@media only screen and (max-width: 500px) {
  .posts.blog-list-view .post-image {
    float: none;
    display: block;
    margin-bottom: 12px;
    width: 100% !important; }

  .posts.blog-list-view .post-item-details {
    width: 100% !important; } }
@media only screen and (max-width: 980px) {
  .two-columns .posts h2 a {
    height: auto !important; } }
@media only screen and (max-width: 1220px) {
  .two-columns.blog-list-view .posts .post-image {
    width: 35%; }
  .two-columns.blog-list-view .post-item-details {
    width: 65%; } }
@media only screen and (max-width: 980px) {
  .two-columns.blog-list-view .post-image {
    float: none;
    padding-right: 0;
    width: 100%; }
  .two-columns.blog-list-view .post-item-details {
    float: none;
    width: 100%; } }
@media only screen and (max-width: 760px) {
  .comments > .comment,
  .comments .reply {
    padding: 15px 15px 15px 15px; }

  .comments .avatar {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    margin: 0 10px 0 0; }

  .comment-form form {
    padding: 15px; }
    .comment-form form > div input {
      width: 100%;
      max-width: 100%; }

  .blog-post .post-stats span {
    display: block;
    margin-bottom: 7px; } }
@media only screen and (max-width: 760px) {
  .comments .reply, .reply-form, .comments .reply + .success {
    margin-left: 0; } }
@media only screen and (max-width: 760px) {
  .oc2 #column-right + .row #content {
    margin-right: 0; }
  .oc2 #column-left + .row #content {
    margin-left: 0; }
  .oc2 fieldset label, .oc2 fieldset label + div, .oc2 fieldset label + input.form-control {
    width: 100%; }
  .oc2 fieldset label, .oc2 fieldset label + div {
    padding-top: 0; }
  .oc2 .captcha-row .pull-right {
    margin-left: 0; }
  .oc2 .contact-page .col {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0; }
  .oc2 .contact-page .col-sm-10 {
    width: 100%; }
  .oc2 .form-horizontal .form-group label {
    width: 100%;
    float: none;
    margin-bottom: 2px; }
  .oc2 .form-horizontal .form-group label + div {
    width: 100%; }
  .oc2 .action-area .panel-body label {
    display: inline-block;
    margin-bottom: 5px; }
  .oc2 .action-area .panel-body .input-group {
    width: 100%; }
    .oc2 .action-area .panel-body .input-group input[type="text"] {
      min-width: 100%;
      width: 100%; }
    .oc2 .action-area .panel-body .input-group .input-group-btn {
      margin-top: 5px;
      display: block; }
    .oc2 .action-area .panel-body .input-group .button {
      width: 100%;
      display: block;
      margin-left: 0; }
  .oc2 .action-area .sc-shipping .form-horizontal .form-group label {
    padding-top: 0; }
  .oc2 .action-area .sc-shipping .form-horizontal .form-group label + div {
    width: 100%; }
  .oc2 .action-area .sc-shipping .button {
    margin-top: 5px; } }
/******************************
ONE PAGE CHECKOUT
*******************************/
@media only screen and (max-width: 980px) {
  .journal-checkout .left select {
    width: 100%;
    margin-left: 0; }
  .journal-checkout .left input[type='radio'] {
    margin-left: 0; }
  .journal-checkout .left .button {
    width: 100%; }
  .journal-checkout .right select {
    margin-left: 0; }
  .journal-checkout .section-left .coupon-voucher input[type='text'],
  .journal-checkout .section-left .coupon-voucher .input-group-btn,
  .journal-checkout .section-left .coupon-voucher input {
    width: 100%; }
  .journal-checkout .section-left .coupon-voucher input[type='text'] {
    margin-bottom: 7px; }
  .journal-checkout label {
    padding-right: 0;
    line-height: 1; }
    .journal-checkout label input {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
  .journal-checkout .coupon-voucher .panel-body {
    display: block;
    float: none; }
  .journal-checkout .coupon-voucher .checkout-coupon {
    padding-right: 0;
    margin-bottom: 10px; }
  .journal-checkout .spw {
    margin-bottom: 0; }
    .journal-checkout .spw > div {
      display: block; }
      .journal-checkout .spw > div:first-of-type {
        padding-right: 12px; }
  .journal-checkout .checkout-cart td.quantity {
    padding: 5px; }
    .journal-checkout .checkout-cart td.quantity input[type='text'] {
      display: block;
      float: none;
      width: auto;
      min-width: 42px;
      margin: 0 auto; }
    .journal-checkout .checkout-cart td.quantity .input-group {
      display: inline-block; }
      .journal-checkout .checkout-cart td.quantity .input-group input {
        margin-top: 5px; }
        .journal-checkout .checkout-cart td.quantity .input-group input:first-of-type {
          margin-right: 5px; }
  .journal-checkout .checkout-cart td.image {
    padding-right: 5px; }
  .journal-checkout .confirm-order .button {
    width: 100%; }
  .journal-checkout .checkout-cart td.name {
    padding-left: 15px; }
  .journal-checkout .coupon-voucher .input-group-btn {
    padding-left: 0; }

  .oc2 .journal-checkout .checkout-cart td.quantity {
    padding: 5px; }
    .oc2 .journal-checkout .checkout-cart td.quantity input[type='text'] {
      min-width: 77px;
      margin-bottom: 5px; }

  .oc1 .journal-checkout .form-horizontal .form-group label {
    width: 100%;
    float: none; }
  .oc1 .journal-checkout .form-horizontal .form-group label + div {
    width: 100%;
    float: none; } }
@media only screen and (max-width: 760px) {
  .one-page-checkout {
    margin-bottom: 20px; }

  .journal-checkout {
    display: block; }
    .journal-checkout .left, .journal-checkout .right {
      width: 100%;
      padding-right: 0; }
    .journal-checkout .left {
      margin-bottom: 15px; }
      .journal-checkout .left.login-mobile .checkout-content.checkout-register {
        display: none; }
      .journal-checkout .left.login-mobile .checkout-content.checkout-login {
        margin-bottom: 0; }
    .journal-checkout #shipping-address {
      margin-top: 18px; }
    .journal-checkout .spw > div:first-of-type {
      padding-right: 0; }
    .journal-checkout .coupon-voucher input[type='text'],
    .journal-checkout .coupon-voucher .input-group-btn,
    .journal-checkout .coupon-voucher input {
      width: 100%; }
    .journal-checkout #payment-confirm-button fieldset #card-new label {
      display: block;
      width: 100%;
      margin-bottom: 3px; }
    .journal-checkout #payment-confirm-button fieldset #card-new label + div {
      display: block;
      width: 100%; }
    .journal-checkout #payment-confirm-button fieldset input[type='text'],
    .journal-checkout #payment-confirm-button fieldset input[type='email'],
    .journal-checkout #payment-confirm-button fieldset input[type='password'],
    .journal-checkout #payment-confirm-button fieldset input[type='tel'],
    .journal-checkout #payment-confirm-button fieldset textarea {
      width: 100%;
      max-width: 100%; }
    .journal-checkout .coupon-voucher .panel-body:nth-of-type(1) {
      padding-right: 0; }
    .journal-checkout .checkout-product table {
      min-width: 460px; }
      .journal-checkout .checkout-product table td {
        width: auto; }
    .journal-checkout .checkout-cart td.name {
      padding-left: 0; }
    .journal-checkout .checkout-content thead .model,
    .journal-checkout .checkout-content thead .quantity,
    .journal-checkout .checkout-content thead .price,
    .journal-checkout .checkout-content tbody .model,
    .journal-checkout .checkout-content tbody .quantity,
    .journal-checkout .checkout-content tbody .price {
      display: table-cell; }
    .journal-checkout .checkout-cart td.name a {
      margin-left: 0; }
    .journal-checkout .checkout-cart td.image img {
      max-width: 80%; }

  .is-customer .journal-checkout section.section-left, .is-customer .journal-checkout section.section-right {
    width: 100%;
    padding-left: 0; }
  .is-customer .journal-checkout .section-left {
    margin-bottom: 15px; } }
/******************************
 Category page compare and sort on mobile
*******************************/
@media only screen and (max-width: 760px) {
  .product-filter .sort select {
    width: 94%;
    margin-left: 3%; }

  .product-filter .sort {
    max-width: 100%;
    right: 0;
    width: 100%;
    bottom: 0; }

  .product-filter {
    height: 80px;
    position: relative; }

  .product-compare a {
    font-size: 12px; }

  .product-filter .display {
    margin-right: -10px; } }
@media only screen and (max-width: 470px) {
  .product-filter .limit {
    top: 5px;
    position: absolute;
    right: -5px; } }
/******************************
MOBILE POPUP
*******************************/
@media only screen and (min-width: 320px) and (max-width: 760px) {
  .journal-popup img {
    max-height: 200px;
    width: auto; } }
@media only screen and (max-width: 470px) {
  div.journal-popup img {
    max-height: 100%;
    width: 100%; } }
@media only screen and (max-width: 760px) {
  .oc1 .journal-checkout .checkout-cart tbody td {
    width: 100% !important;
    border-left-width: 1px; }
  .oc1 .journal-checkout .checkout-cart tbody tr:first-of-type td {
    border-bottom-width: 0; }

  .category-page .heading-title,
  .manufacturer-page .heading-title,
  .search-page .heading-title,
  .special-page .heading-title {
    display: table;
    width: 100%; }

  .has-popup {
    overflow: hidden; }

  .mfp-container {
    padding: 0; }

  .mfp-wrap {
    overflow-y: auto;
    overflow-x: hidden; }

  .mfp-content {
    overflow: visible; }

  .mfp-content {
    text-align: center; }

  .journal-popup, .journal-popup-content {
    height: auto !important;
    text-align: left; }

  .journal-popup .journal-popup-header-content {
    padding: 7px 20px 7px 7px; }

  .journal-popup-newsletter .journal-newsletter {
    padding-top: 10px;
    padding-bottom: 10px; }
  .journal-popup-newsletter .journal-newsletter.text-left .newsletter-text,
  .journal-popup-newsletter .journal-newsletter.text-left .newsletter-input-wrap {
    width: 100%;
    float: none;
    margin-top: 10px;
    display: block; }

  .journal-popup-contact .content,
  .journal-popup-contact fieldset {
    padding: 10px; }

  .journal-popup, .mfp-wrap {
    width: 96% !important;
    left: 1%;
    max-height: 100vh; }
    .journal-popup label, .mfp-wrap label {
      line-height: 1;
      font-size: 12px;
      position: relative; }
    .journal-popup .journal-popup-footer-content, .mfp-wrap .journal-popup-footer-content {
      padding: 0 10px; }

  .journal-popup-footer-content .button {
    line-height: 26px;
    font-size: .9em; }

  .journal-popup-footer-content.has-btn {
    height: auto !important; }

  .journal-checkout .confirm-order {
    margin-top: 5px; }

  .journal-popup.journal-popup-text {
    display: inline-block; }

  .mfp-content {
    overflow: hidden; } }
@media only screen and (max-width: 1024px) {
  .mfp-container {
    overflow: hidden; }

  .journal-popup .mfp-close {
    top: -7px;
    right: -7px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .journal-popup textarea {
    height: 100px;
    height: 20vh; }

  .radio.check-terms {
    padding-top: 10px; }
    .radio.check-terms input {
      display: block;
      float: left; } }
@media only screen and (max-width: 760px) and (orientation: landscape) {
  .journal-popup.journal-popup-text {
    left: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
    .journal-popup.journal-popup-text .journal-popup-content p {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .journal-popup.journal-popup-text .journal-popup-content p img {
        max-height: 160px;
        max-height: 52vh; }

  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: auto; } }
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .journal-popup.journal-popup-text {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
    .journal-popup.journal-popup-text .journal-popup-content p img {
      max-height: 125px;
      max-height: 66vh; }

  .mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    height: 100vh; }

  .journal-popup, .mfp-wrap {
    width: 100% !important;
    left: 0;
    max-height: none; }

  .mfp-content {
    vertical-align: top; }

  .journal-popup.journal-popup-text {
    top: -12vh; } }
/******************************
 Filter on Mobile
*******************************/
@media only screen and (max-width: 760px) {
  .filter-on-mobile.category-page #container #column-left,
  .filter-on-mobile.manufacturer-page #container #column-left,
  .filter-on-mobile.search-page #container #column-left,
  .filter-on-mobile.special-page #container #column-left {
    display: block !important;
    width: 100% !important;
    padding-right: 20px !important;
    padding-bottom: 0;
    position: relative;
    z-index: 9; }

  .open-filter {
    display: block !important;
    color: white;
    background-color: #5F6874;
    line-height: 38px;
    padding-left: 15px;
    font-family: inherit;
    font-size: 15px;
    margin-bottom: 20px; }
    .open-filter::before {
      content: "\f1de";
      font-size: 16px;
      float: left;
      margin-right: 10px;
      color: white; }

  .sf-reset,
  .side-column .journal-sf .box {
    display: none; }

  #column-left + #content {
    padding-top: 0 !important;
    clear: left; } }
/******************************
 New Headers
*******************************/
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .journal-header-center .autocomplete2-suggestions {
    min-width: 240px; } }
@media only screen and (max-width: 980px) {
  .journal-header-default .journal-cart {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }

  .side-column .oc-module .product-details {
    max-width: 110px; } }
@media only screen and (max-width: 760px) {
  .oc2 .alert {
    display: block; }

  .default-header .journal-top-header {
    display: none; }

  .journal-header-default .journal-logo {
    height: 85px; }
  .journal-header-default .header-assets {
    position: static; }

  .journal-header-center .links a, .journal-header-center .links .no-link {
    height: 40px; }
  .journal-header-center #header {
    padding-top: 0; }
    .journal-header-center #header .journal-links {
      position: relative; }
  .journal-header-center .journal-search {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .journal-header-center .journal-cart {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; } }
.iphone .form-horizontal .form-group label, .ipad .form-horizontal .form-group label {
  padding-top: 0; }
